:host {
    position: fixed;
    bottom: 53px;
    top: 53px;
    background-color: #31343c;
    color: #7b7b7b;
}

:host li:hover {
    background-color: #393d44;
    cursor: pointer;
}

h4 {
    display: inline-block;
}

.centerer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
}

