@import "variables";

.form-control {
    background-color: $background-input;

    &:disabled {
        background-color: darken($background-input, 10%);
    }
}

.col-form-label,
.form-check-inline,
.form-control {
    font-size: 15pt;
}

.form-check-inline {
    display: flex;
    align-items: center;

    .form-check-label {
        padding-right: 1.25rem;
    }
}

.error-row {
    margin-top: -1.1rem;
}

.form-error {
    margin-right: 0;
    margin-left: 0;
}

input[type="text"]:focus, textarea:focus {
    border: 1px solid #ddd;
    background-color: lighten($background-input, 10%);

    -webkit-box-shadow: 0 0 0 1px white;
    -moz-box-shadow: 0 0 0 1px white;
    box-shadow: 0 0 0 1px white;
}
