@import "variables";
@import "shadows";

@mixin list($_background-color, $_text-color) {
    @extend .col-xs-3;
    @extend .col-sm-2;

    position: fixed;
    bottom: $navbar-height;
    top: $navbar-height;

    background-color: $_background-color;
    color: $_text-color;

    h4 {
        display: inline-block;
    }

    .list-group-item {
        color: $_text-color;

        &:hover,
        &.active:hover {
            background-color: lighten($_background-color, 7%);
            cursor: pointer;
        }

        &.active {
            background-color: lighten($_background-color, 5%);
        }
    }
}
