@import "shadows";
@import "variables";
@import "list";

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/* Navbar */
.navbar {
  background-color: $background-darker;
  color: $text-color-light;
}

.nav-link, .nav-link:visited {
  color: $text-color-light;
}

.nav-link:hover {
  color: #eee;
}


/* Links */
a:hover {
  color: #54d054;
  text-decoration: none;
}


/* Add button */

.add-button:hover, .add-button:visited,
.add-button:link, .add-button:active {
  text-decoration: none;
}

.add-button {
  float: right;

  width: 30px;
  height: 30px;
  line-height: 40px;

  text-align: center;
  font-size: 20pt;

  border: 2px solid $add-button-color;
  border-radius: 30px;

  &:hover {
    border: 2px solid $add-button-color-hover;
    p {
      color:$add-button-color-hover;
    }
  }

  p {
    margin-top: -6px;
    color: $add-button-color;
  }
}

wp-room-list {
  @include list($background-dark, $text-color-light);
  left: 0;
  z-index: 10;
}

 wp-poll-list {
    @include list($background, $text-color-light);

    left: calc(3 / 12 * 100%);
    @media (min-width: $screen-sm-min) {
      left: calc(2 / 12 * 100%);
    }

    z-index: 0;
  }

#main {
  @extend .col-xs-6;
  @extend .col-sm-8;

  position: fixed;
  bottom: $navbar-height;
  top: $navbar-height;
  right: 0;

  overflow-y: scroll;

  background-color: $background-light;
  color: $text-color-light;

  padding: 50px;
  display: block;

  .header {
    text-align: center;

    h1 {
      @extend .mx-auto;
      @include component-shadow;

      color: lighten($text-color-light, 10%);
      background-color: lighten($background, 15%);

      display: inline-block;
      padding: 3px 13px 9px 13px;

      border-radius: 20px;
    }

    margin-bottom: 70px;
  }

  .buttons {
    margin-bottom: 30px;
    margin-top: -68px;
  }

  .content {
    @include component-shadow;

    color: $background-input;
    background-color: $background-lighter;

    padding: 30px;
    border: 0;
    border-radius: 20px;

    .row {
      margin-bottom: 1rem;
    }
  }

  .question-title {
    text-align: center;

    padding-bottom: 20px;
    margin-bottom: 40px;

    border-bottom: 1px solid #999;
  }

  #token {
    cursor: copy;
  }

  #questions-list {
    background-color: $background-lightest;

    margin-left: 0px;
    margin-right: 0px;
    padding: 10px;

    border-radius: 5px;
    font-size: 18px;
    color: $text-color-darker;

    .active-indicator {
      margin-top: 7px;
    }

    a {
      color: $text-color-darker;

      &:hover {
         color: $text-color-dark;
      }
    }

    div {
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }

  .results {
    .row {
      margin-bottom: 10px;
    }
  }

}
