@import "shadows";
@import "variables";

#main {
    @extend .col-xs-6;
    @extend .col-sm-8;

    position: fixed;
    bottom: $navbar-height;
    top: $navbar-height;
    right: 0;

    overflow-y: scroll;

    background-color: $background-light;
    color: $text-color;

    padding: 50px;
    display: block;

    .title {
        text-align: center;
        margin-bottom: 3%;
        color: $text-color;
    }

    .content {
        @include component-shadow;

        color: $background-input;
        background-color: $background-lighter;

        padding: 30px;
        border: 0;
        border-radius: 20px;
    }

}
