/*
 * Colors
 */
$background-lighter: #636971;
$background-light: #494f58;
$background: #393d44;
$background-dark: #31343c;
$background-darker: #22252a;


$background-input: #ccc;


$text-color: #aaaaaa;
$text-color-dark: #7b7b7b;


/*
 * Sizes
 */
$navbar-height: 50px;

$screen-sm-min: 768px;


/*
 * scrollbars
 */
$scrollbar-background: $background-darker;
$scrollbar-radius: 30px;
