<div class="row header">
    <div class="col-xs-12">
        <h1>Question {{ questionIndex + 1 }} of {{ questionPoolSize }}</h1>
    </div>
</div>

<div class="row buttons">
    <div class="col-xs-12">
        <button class="btn btn-primary" *ngIf="questionIndex != 0" (click)="previous()">Previous</button>
        <button class="btn btn-primary float-xs-right" *ngIf="questionIndex != questionPoolSize - 1" (click)="next()">Next</button>
    </div>
</div>

<form [formGroup]="form" class="content">
    <div class="row question-title">
        <h1 class="col-xs-12">{{ question?.title }}</h1>
    </div>
    <fieldset class="form-group">
        <div class="form-check" *ngFor="let choice of question?.choices">
            <label class="form-check-label">
                <input type="radio" class="form-check-input" name="answer" [disabled]="room?.owning">
                <span></span>
                {{ choice.text }}
            </label>
        </div>
    </fieldset>

    <div class="row" [ngSwitch]="room?.owning">
        <div class="col-xs-12" *ngSwitchCase="true">
            <button class="btn btn-primary float-xs-right" *ngIf="poll?.visible && !poll?.is_open && !question?.is_open" (click)="setOpen(true)">Open</button>
            <button class="btn btn-primary float-xs-right" *ngIf="question?.is_open" (click)="setOpen(false)">Close</button>
            <button class="btn btn-danger float-xs-right" (click)="delete()">Delete</button>
        </div>
        <div class="col-xs-12" *ngSwitchCase="false">
            <button class="btn btn-primary float-xs-right" type="submit" *ngIf="!room?.owning && (poll?.is_open || question?.is_open)">Vote</button>
        </div>
    </div>
</form>