<div (window:keydown)="onKey($event)" [ngClass]="{presentation: inPresentationMode}">
    <div class="row header">
        <div class="col-xs-12">
            <h1>Question {{ questionIndex + 1 }} of {{ questionPoolSize }}</h1>
        </div>
    </div>

    <div class="row buttons">
        <div class="col-xs-12">
            <button class="btn btn-primary" *ngIf="questionIndex != 0" (click)="previous()">Previous</button>
            <button class="btn btn-primary float-xs-right" *ngIf="questionIndex != questionPoolSize - 1" (click)="next()">Next</button>
            <button class="btn btn-primary float-xs-right" *ngIf="room?.owning && !inPresentationMode" (click)="startPresentation()">Start Presentation</button>
        </div>
    </div>

    <form [formGroup]="form" class="content" (ngSubmit)="submit()">
        <div class="row question-title">
            <h1 class="offset-xs-2 col-xs-8">{{ question?.title }}</h1>
            <span class="col-xs-2 float-xs-right">{{ question?.answers }} answers</span>
        </div>

        <div class="row">
            <!-- question -->
            <div class="col-xs-6">
                <fieldset class="form-group" *ngIf="question?.type === 'UNIQUE'">
                    <div class="form-check" *ngFor="let choice of question.choices">
                        <label class="form-check-label">
                            <input type="radio" class="form-check-input" name="answer" formControlName="answer"
                                   [value]="choice.id">
                            <span></span>
                            {{ choice.text }}
                        </label>
                    </div>
                </fieldset>

                <fieldset class="form-group" *ngIf="question?.type === 'MULTIPLE'">
                    <div class="form-check" *ngFor="let choice of question.choices">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="answer" [formControlName]="choice.id">
                            <span></span>
                            {{ choice.text }}
                        </label>
                    </div>
                </fieldset>
            </div>

            <div class="col-xs-6 results" *ngIf="inPresentationMode && question?.is_open">
                <h1>Please VOTE</h1>
            </div>

            <!-- answers -->
            <div class="col-xs-6 results" *ngIf="question != null && !question.is_open">
                <div class="row" *ngFor="let choice of question.choices; let i = index">
                    <div class="form-check col-xs-2">
                        <label class="form-check-label">{{ choice.answers }}</label>
                    </div>
                    <div class="col-xs-10">
                        <div class="result-bar" style="width: 28%" [ngStyle]="{'background-color': colors[i % colors.length], width: (choice.answers / question.answers) * 100 + '%'}"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" [ngSwitch]="room?.owning">
            <div class="col-xs-12" *ngSwitchCase="true">
                <button class="btn btn-primary float-xs-right" *ngIf="poll?.visible && !question?.is_open" (click)="setOpen(true)">Open</button>
                <button class="btn btn-primary float-xs-right" *ngIf="question?.is_open" (click)="setOpen(false)">Close</button>
                <button class="btn btn-danger float-xs-right" (click)="delete()" *ngIf="!inPresentationMode">Delete</button>
            </div>
            <div class="col-xs-12" *ngSwitchCase="false">
                <button class="btn btn-primary float-xs-right" type="submit" *ngIf="question?.is_open" [disabled]="!form.valid">Vote</button>
            </div>
        </div>
    </form>
</div>