.btn {
    -webkit-appearance: none;

    background-color: #459b45 !important;
    color: #eee !important;
    
    border-radius: 7px;
    
    -webkit-box-shadow: 0px 6px 10px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 10px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 10px -7px rgba(0,0,0,0.75);
}

.btn:hover {
    background-color: #418841 !important;
    color: #ddd !important;
}

.button-right {
    float: right;
}
