:host {
    position: fixed;
    bottom: 53px;
    top: 53px;
    right: 0;
    
    background-color: #494f58;
    color: #aaa;
    
    padding: 50px;
    
    display: block;
}

button {
	background-color: #7188d4;
	color: white;
}

button:hover {
	background-color: #596eb3;
	color: #eee;
}

.question-title {
	text-align: center;
}

.previous-button {
    float: left;
}

.next-button {
    float: right;
}
