<div class="row header" *ngIf="!editing">
    <div class="col-xs-6 offset-xs-3">
        <h1>{{ room?.name }}</h1>
    </div>
    <div class="col-xs-3" *ngIf="room?.owning">
        <button class="btn btn-primary float-xs-right" (click)="edit()">Edit</button>
    </div>
</div>


<form class="row header" [formGroup]="form" (ngSubmit)="submit()" *ngIf="editing">
    <div class="col-xs-6 offset-xs-3">
        <input type="text" placeholder="Name" id="name" formControlName="name">
    </div>
    <div class="col-xs-3">
        <button type="submit" class="btn btn-primary float-xs-right" [disabled]="!form.valid">Save</button>
    </div>
</form>


<div class="content">
    <div class="row">
        <div class="col-xs-12">
            <button class="btn btn-primary float-xs-right" *ngIf="room?.owning">New Poll</button>
        </div>
    </div>

    <div class="form-group row">
        <label for="token" class="col-xs-4 col-form-label">Invitation token :</label>
        <div class="col-xs-8">
            <input type="text" id="token" disabled [value]="room?.token"/>
        </div>
    </div>
</div>
