h2 {
    text-align: center;
}

form h4 {
    margin-bottom: 30px;
}

form {
    color: #ccc;
    background-color: #636971;
    
    padding-left: 30px !important;
    
    border: 0px !important;
    border-radius: 20px;
    
    -webkit-box-shadow: 0px 6px 10px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 6px 10px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 6px 10px -7px rgba(0,0,0,0.75);
}

form label {
    font-size: 15pt;
}

#settings .form-group {
    margin-right: 0px;
}


#settings-update-button-wrapper {
    margin-top: 30px;
    
    text-align: right;
}

#settings-update-button {
    display: inline-block;
}
