.navbar-brand {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    font-size: 18pt;
}

#container {
    margin-top: 61px;
    margin-bottom: 20px;
    padding: 30px;

    font-size: 15pt;

    border: 1px solid #ccc;
    border-radius: 4px;
}

#presentation {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;

    font-size: 17pt;
}

#presentation h2 {
    margin-top: 0px;
}

#catchphrase {
    margin: 30px 0px;
}

.feature-container {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
}

.feature-container p {
    margin-top: 10px;
}

#footer {
    margin-bottom: 0px;

    border-radius: 0px;
}
