body {
	background-color: #2e3136;
	color: #a5a5a5;
}

.navbar-brand {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;

    font-size: 18pt;
}

h2 {
	color: #ccc;
}

#container {
	background-color: #36393e;
	
    margin-top: 61px;
    margin-bottom: 20px;
    padding: 30px;

    font-size: 15pt;

    border: 1px solid #5a5555;
    border-radius: 4px;
}

.btn {
	background-color: #6d6d6d;
	border-color: #585858;
	color: #d8d8d8;
}

.btn:hover {
	background-color: #5d5d5d;
	border-color: #484848;
	color: #b8b8b8;
}

#presentation {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;

    font-size: 17pt;
}

#presentation h2 {
    margin-top: 0px;
}

#catchphrase {
    margin: 30px 0px;
}

.feature-container {
    border-top: 1px solid #5a5555;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 20px;
}

.feature-container p {
    margin-top: 10px;
}

#footer {
    margin-bottom: 0px;

    border-radius: 0px;
}
