.choice-group {
    margin: 0px 0px 5px 0px;
}

.add-choice-button, .delete-choice-button {
    width: 30px;
    height: 30px;
    
    font-size: 25pt;
    
    padding: 0px;
    text-align: center;
}

.add-choice-button {
    margin-top: 5px;
    line-height: 29px;
}

.delete-choice-button {
    margin-left: 10px;
    line-height: 23px;
}
