<div id="content">
    <!-- menu -->
    <nav id="menu" class="navbar navbar-fixed-top" *ngIf="!(fullScreen.requested$ | async)">
        <!-- left menu -->
        <ul class="nav navbar-nav">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['']">Polls</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" href="https://benjaminschubert.github.io/web-polls/">About</a>
            </li>
        </ul>
        <ul class="nav navbar-nav float-xs-right" [ngSwitch]="account.isLoggedIn$ | async">
            <template [ngSwitchCase]="true">
                <li class="nav-item" >
                    <span class="navbar-text">Logged in as {{ (account.$ | async)?.username }}</span>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="javascript:void(0);" (click)="logout()" *ngSwitchCase="true">Logout</a>
                </li>
            </template>
            <li class="nav-item" *ngSwitchCase="false">
                <a class="nav-link" href="javascript:void(0);" (click)="login()" *ngSwitchCase="false">Login</a>
            </li>
        </ul>
    </nav>

    <menu></menu>

    <div class="row">
        <wp-room-list class="list" *ngIf="!(fullScreen.requested$ | async)"></wp-room-list>
        <div id="main"><router-outlet></router-outlet></div>
    </div>
</div>

<footer class="navbar navbar-fixed-bottom" *ngIf="!(fullScreen.requested$ | async)">
    <ul class="nav navbar-nav float-xs-right">
        <li class="nav-item">
            <a class="nav-link" href="mailto:ben.c.schubert@gmail.com">Contact</a>
        </li>
    </ul>
</footer>


<wp-login></wp-login>
