<div class="row header" *ngIf="!editing">
    <div class="col-xs-12">
        <h1>{{ poll?.name }}</h1>
    </div>
</div>

<div class="row buttons">
    <div class="col-xs-12" *ngIf="room?.owning">
        <button class="btn btn-danger float-xs-right" (click)="delete()">Delete</button>
        <button class="btn btn-primary float-xs-right" (click)="edit()">Edit</button>
        <button class="btn btn-primary float-xs-right" (click)="makeVisible()" *ngIf="!poll?.visible">Make Visible</button>
    </div>
</div>


<div class="content">
    <div class="form-group row">
        <div class="col-xs-12">
            <textarea class="form-control" id="token" disabled [value]="poll?.description"></textarea>
        </div>
    </div>

    <div class="form-group row" *ngFor="let question of questions.getForPoll(poll?.id) | async">
        {{ question.title }}
    </div>
    <div class="form-group row">
        <div class="col-xs-12">
            <button class="btn btn-primary float-xs-right" (click)="addQuestion()">Add Question</button>
        </div>
    </div>
</div>
