<template [ngIf]="room != null">
    <wp-scrollable>
        <div header>
            <h4>Available Polls</h4>
            <a *ngIf="room?.owning" class="add-button" [routerLink]="['new']">
                <p>+</p>
            </a>
        </div>

        <wp-poll-item
                content
                [poll]="poll"
                class="list-group-item"
                *ngFor="let poll of service.getForRoom(room?.id) | async"
                routerLinkActive="active"
                [routerLink]="[poll.id]"
        >
        </wp-poll-item>
    </wp-scrollable>
</template>

<template [ngIf]="(service.getForRoom(room?.id) | async).length == 0">
    <div class="center">
        Please select a room to show its polls
    </div>
</template>