<div class="row header">
    <div class="col-xs-12">
        <h1>{{ poll?.name }}</h1>
    </div>
</div>

<div class="row buttons">
    <div class="col-xs-12" *ngIf="room?.owning">
        <button class="btn btn-danger float-xs-right" (click)="delete()">Delete</button>
        <button class="btn btn-primary float-xs-right" (click)="setVisible(true)" *ngIf="!poll?.visible">Make Visible</button>
        <button class="btn btn-danger float-xs-right" (click)="setVisible(false)" *ngIf="poll?.visible && !poll?.is_open">Hide</button>
        <button class="btn btn-primary float-xs-right" (click)="setOpen(true)" *ngIf="(hasClosedQuestions() | async) && poll?.visible">Open Poll</button>
        <button class="btn btn-danger float-xs-right" (click)="setOpen(false)" *ngIf="(hasOpenQuestions() | async) && poll?.visible">Close Poll</button>
    </div>
</div>


<div class="content">
    <div class="form-group row">
        <div class="col-xs-12">
            <h4>Description</h4>
            <textarea class="form-control" id="token" disabled [value]="poll?.description"></textarea>
        </div>
    </div>

    <div id="questions-list" class="form-group row" *ngIf="(questions.getForPoll(poll?.id) | async)">
        <div class="col-xs-12">Questions</div>
        <div class="col-xs-12" *ngFor="let question of questions.getForPoll(poll?.id) | async">
            <span class="active-indicator left" [attr.active]="question.is_open"></span>
            <a [routerLink]="[question.id]">{{ question.title }}</a>
            <span class="float-xs-right">{{ question.answers }} answer{{ question?.answers == 1 ? "" : "s"}}</span>
        </div>
    </div>
    <div id="question-list" class="form-group row" *ngIf="!(questions.getForPoll(poll?.id) | async)">
        <div class="col-xs-12">No question yet.</div>
    </div>

    <div class="form-group row">
        <div class="col-xs-12">
            <button class="btn btn-primary float-xs-right" (click)="addQuestion()" *ngIf="room?.owning">Add Question</button>
        </div>
    </div>
</div>
