// Custom variables
$background: #393d44;
$dark-background: #31343c;

$default-text-color: #aaaaaa;



// Bootstrap redefinition
$brand-primary: #459b45;

$modal-content-bg: $background;
$text-color: $default-text-color;
